#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.authLayout {
  display: flex;
  align-items: center;
  background-color: #fff;
  justify-content: center;

}

.signIn {
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2.5rem 2.5rem;
}

.signInImage {
  height:90vh;
  width: 50%;
  object-fit: cover;
  background-repeat: no-repeat;
}

.home-card {
  width: 80%;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #001529;
  padding: 10px;
}

.logo {
  width: 20%;
}

.menu-items {
  width: 20%;
  display: flex;
  justify-content: space-around;
}

